<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="bootstrap.css">
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-RHDCCBW4R9');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RHDCCBW4R9"></script>
    <script async src="https://kit.fontawesome.com/a1c4b21e48.js"></script>
    <script defer src="index.js"></script>
</head>
<body>

<header class="page-header" role="banner">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.description }}</h2>
    <a class="text-reset" href="mailto:berk-erol@outlook.com"><i class="fas fa-envelope fa-2x"></i></a>
    <a class="text-reset ms-3 me-3" href="https://www.linkedin.com/in/berkerol" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-2x"></i></a>
    <a class="text-reset" href="https://github.com/berkerol" target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-2x"></i></a>
    <a class="text-reset ms-3 me-3" href="https://www.npmjs.com/~berkerol" target="_blank" rel="noopener noreferrer"><i class="fab fa-npm fa-2x"></i></a>
    <a class="text-reset" href="https://t.me/berk_erol" target="_blank" rel="noopener noreferrer"><i class="fab fa-telegram fa-2x"></i></a>
    <a class="text-reset ms-3 pointer" onclick="alert('berkerol#5122');"><i class="fab fa-discord fa-2x"></i></a>
</header>

<main id="content" class="main-content" role="main">
    <div class="container-fluid">
        <div class="row justify-content-center">
        </div>
    </div>
</main>

</body>
</html>
