<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="bootstrap.css">
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-122994978-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <script async src="https://kit.fontawesome.com/a1c4b21e48.js"></script>
</head>
<body>

<header class="page-header" role="banner">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.description }}</h2>
    <a class="text-reset" href="mailto:berk-erol@outlook.com"><i class="fas fa-envelope fa-2x"></i></a>
    <a class="text-reset ml-3 mr-3" href="https://www.linkedin.com/in/berkerol" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-2x"></i></a>
    <a class="text-reset" href="https://github.com/berkerol" target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-2x"></i></a>
    <a class="text-reset ml-3" href="https://www.npmjs.com/~berkerol" target="_blank" rel="noopener noreferrer"><i class="fab fa-npm fa-2x"></i></a>
</header>

<main id="content" class="main-content" role="main">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="fireworks">
                    <img class="img-fluid rounded" src="images/fireworks.png">
                    <h3>Fireworks</h3>
                    <p>Create your own fireworks show or watch one randomly</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="stargazing">
                    <img class="img-fluid rounded" src="images/stargazing.png">
                    <h3>Stargazing</h3>
                    <p>A beautiful sky animation with colorful and moving stars</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="snowstorm">
                    <img class="img-fluid rounded" src="images/snowstorm.png">
                    <h3>Snowstorm</h3>
                    <p>Watch a crazy snowstorm in the comfort of your browser</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="spaceflight">
                    <img class="img-fluid rounded" src="images/spaceflight.png">
                    <h3>Spaceflight</h3>
                    <p>Enter a journey into the depths of space</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="aggregator">
                    <img class="img-fluid rounded" src="images/aggregator.png">
                    <h3>Aggregator</h3>
                    <p>A beautiful aggregator animation with colorful particles</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="hypnotizer">
                    <img class="img-fluid rounded" src="images/hypnotizer.png">
                    <h3>Hypnotizer</h3>
                    <p>Hypnotize yourself with the flowing characters</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="stock-price-simulator">
                    <img class="img-fluid rounded" src="images/stock-price-simulator.png">
                    <h3>Stock Price Simulator</h3>
                    <p>Generate a random stock chart or watch its progress</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="sprinter-turtle">
                    <img class="img-fluid rounded" src="images/sprinter-turtle.png">
                    <h3>Sprinter Turtle</h3>
                    <p>2D top down road crossing game</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="battle-pong">
                    <img class="img-fluid rounded" src="images/battle-pong.png">
                    <h3>Battle Pong</h3>
                    <p>Remake of the classic game with rockets and different game types</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="breakout">
                    <img class="img-fluid rounded" src="images/breakout.png">
                    <h3>Breakout</h3>
                    <p>Remake of the classic game with meteors</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="typer">
                    <img class="img-fluid rounded" src="images/typer.png">
                    <h3>Typer</h3>
                    <p>A tower defense like typing game</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="beat-the-market">
                    <img class="img-fluid rounded" src="images/beat-the-market.png">
                    <h3>Beat the Market</h3>
                    <p>Buy low, sell high, make money</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="guess-the-image">
                    <img class="img-fluid rounded" src="images/guess-the-image.png">
                    <h3>Guess the Image</h3>
                    <p>Try to recognize the partially visible images</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="guess-the-number">
                    <img class="img-fluid rounded" src="images/guess-the-number.png">
                    <h3>Guess the Number</h3>
                    <p>Try to find the number using various hints</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="match-the-numbers">
                    <img class="img-fluid rounded" src="images/match-the-numbers.png">
                    <h3>Match the Numbers</h3>
                    <p>Try to make all numbers equal by visiting them</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="hangman">
                    <img class="img-fluid rounded" src="images/hangman.png">
                    <h3>Hangman</h3>
                    <p>Remake of the classic game with GUI</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="guess-the-average">
                    <img class="img-fluid rounded" src="images/guess-the-average.png">
                    <h3>Guess the Average</h3>
                    <p>Try to calculate the average of the appearing numbers</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="rock-paper-scissors-lizard-spock">
                    <img class="img-fluid rounded" src="images/rock-paper-scissors-lizard-spock.png">
                    <h3>Rock Paper Scissors Lizard Spock</h3>
                    <p>Remake of the classic game with the Lizard Spock expansion</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="roll-a-ball">
                    <img class="img-fluid rounded" src="images/roll-a-ball.png">
                    <h3>Roll a Ball</h3>
                    <p>Destroy the cubes without touching the walls</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="battleshipjs">
                    <img class="img-fluid rounded" src="images/battleshipjs.png">
                    <h3>Battleship.js</h3>
                    <p>A Battleship CLI game with customizations</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="lottery">
                    <img class="img-fluid rounded" src="images/lottery.png">
                    <h3>Lottery</h3>
                    <p>Decentralized autonomous lottery</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="github-explorer">
                    <img class="img-fluid rounded" src="images/github-explorer.png">
                    <h3>GitHub Explorer</h3>
                    <p>Filter and sort all repositories of a user or organization</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="affine-cipher">
                    <img class="img-fluid rounded" src="images/affine-cipher.png">
                    <h3>Affine Cipher</h3>
                    <p>Simple & easy-to-use Affine Cipher GUI</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="empatica-charts">
                    <img class="img-fluid rounded" src="images/empatica-charts.png">
                    <h3>Empatica Charts</h3>
                    <p>Charts for physiological data gathered from <a href="https://www.empatica.com/research/e4">Empatica
                            E4</a> wristband</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="photo-of-the-day">
                    <h3>Photo of the Day</h3>
                    <p>Downloads Bing, NASA, National Geographic, Unsplash Photo of the Day and sets it as wallpaper</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="mousejs">
                    <h3>Mouse.js</h3>
                    <p>Move your mouse with arrow keys on the keyboard</p>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-3 text-center">
                <a class="text-reset text-decoration-none" href="cv">
                    <h3>CV</h3>
                    <p>My CV</p>
                </a>
            </div>
        </div>
    </div>
</main>

</body>
</html>
